# Dependencias de Python (Especificas para tu carpeta backend)
backend/venv/
backend/__pycache__/
*.pyc

# Base de datos real del sistema
backend/inventario.db

# Dependencias y Cache de React (Especificas para tu carpeta frontend)
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Variables de entorno y archivos del Sistema Operativo
.env
.DS_Store
Thumbs.db