# Entornos virtuales y dependencias de Python
backend/venv/
backend/__pycache__/
*.pyc

# Dependencias y artefactos de compilación de React
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Variables de entorno y credenciales (Blindaje absoluto)
.env
.env.*
*.env
!.env.example

# Archivos residuales del Sistema Operativo
.DS_Store
Thumbs.db